BODY {

SCROLLBAR-FACE-COLOR: #DCDDDD; 
SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
SCROLLBAR-SHADOW-COLOR: #ffffff;
SCROLLBAR-3DLIGHT-COLOR: #333333;
SCROLLBAR-ARROW-COLOR: #ffffff; 
SCROLLBAR-TRACK-COLOR: #ffffff;
SCROLLBAR-DARKSHADOW-COLOR: #333333;
FONT-SIZE: 12px; 
MARGIN: 0px; 
VERTICAL-ALIGN: top;  
COLOR: #ffffff;      
FONT-FAMILY: verdana, helvetica, sans-serif;  
TEXT-ALIGN: left


}

P {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; 
}
TD {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; 
}
UL {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; 
}
OL {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; 
}
LI {
	FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; 
}
H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; TEXT-TRANSFORM: uppercase; COLOR: #4376bb; FONT-FAMILY: verdana, Verdana, helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #5D6E5D; FONT-FAMILY: verdana, Verdana, helvetica, sans-serif; BACKGROUND-COLOR: transparent
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #333333; FONT-FAMILY: verdana, helvetica, sans-serif; BACKGROUND-COLOR: transparent
}

b a:link, b a:visited, b a:active   {font-size: 15px; color: #C72A34; padding-bottom: 13px}
b a:hover {color: #000000}

a:link, a:visited, a:active {
	COLOR: #666666; TEXT-DECORATION: none
}

a:hover  {
	 
	 COLOR: #72838B; TEXT-DECORATION: underline
}


input.loga, input.loga2 {font-size:10px; border: 1px solid #7E818F; padding:2px; margin: 0 5px 0 0; background:#A7AAB8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}
button.loga3 {font-size:10px; border: 1px solid #7E818F; padding:2px 3px; margin: 0 5px 0 0; color:#fff; background:#A7AAB8; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px}

.copyright  {
	font-size: 9px; FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}

a.topa {font-family: verdana, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal}
	
a:hover.topa {color:#000000}	

.small {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	text-decoration: none;
	font-weight: normal;
	}
.smalldark {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 10px;
	color: #5D6E5D;
	text-decoration: none;
	font-weight: normal;
	}

/*Mambo CSS*/

/*
* General Mambo Styles
* ===============
* The following are styles that are often used
* site wide by Mambo to provide better control
* of content's appearences.
*/


hr {}
hr.separator {}
.pagenavbar {} /* not used in to page nav bar but used for nicknames in forum posts by Simpleboard */
.pagenav {} /* as the name implies, this is for formatting texts for those "<< Start < Previous 1 Next > End >>" links */
.small {}

.button {font-size: 9px;
	font-family: verdana, helvetica, sans-serif;
	text-align: center;
	color: #333333;
	background-color: #DCDDDD;
border: 1px solid #ffffff;}

}


.inputbox {
font-size: 9px;
	font-family: verdana, helvetica, sans-serif;
	text-align: left;
	color: #333333;
	background-color: #DCDDDD;
border: 1px solid #ffffff;

}



/*
* Mambo Tabbed Frontend Admin Interface
* =============================
* The CSS styles here defines how the frontend admin interface
* will look like when editing and adding news through frontend.
*/

.ontab {} /* For styling of the "Tab" buttons when editing contents through the frontend as admin. This .ontab is the styling for the tab when it is active or after its "clicked" */
.offtab {} /* Same as above, used for styling of the "Tab" buttons when editing contents through the frontend. This the styling for the tab when it is NOT active or when it is NOT "clicked" */
.tabpadding {} /* this style is used set the size of the tab in the above */
.tabheading {} /* Not too sure what this is used for. Couldn't find anything related to it yet at the moment */
.pagetext {} /* this style is used to style the content of the editing form contents (where HTMLArea sits and all its forms + contents) in the frontend Administration interface */


/*
* Mambo Menu Styling
* ==============
* You can control the way menu behave and look
* by using the CSS settings below
*/

.mainlevel {
  font-family      : arial, verdana, Helvetica, sans-serif;
  font-weight      : normal;
  letter-spacing   : 1px;
  text-indent      : 8px;
  display          : block;
  margin-top       : 1px;
}

a.mainlevel:link, a.mainlevel:visited {
  border-top       : 1px solid #ffffff;
  border-bottom    : 0px solid #000000;
  background       : #DCDDDD;
  color            : #666666;
padding: 3px 3px 3px 15px;
font-size: 15px;
display          : block;
letter-spacing   : 1px;
  text-indent      : 4px;
}
a.mainlevel:hover, a.mainlevel:active {
  border-top       : 1px solid #333333;
  border-bottom    : 0px solid #FFFFFF;
background-color : #9B9FA3;
  color            : #ffffff;
padding: 3px 3px 3px 15px;
display          : block;
letter-spacing   : 1px;
  text-indent      : 4px;
  text-decoration:none;
}
 
 
a.sublevel:link, a.sublevel:visited, {	/* this styling is for menu items that HAS A PARENT */
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: verdana, Helvetica, sans-serif; TEXT-DECORATION: none
} 
a.sublevel:hover {	/* this styling is for menu items that HAS A PARENT */
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #71828A; FONT-FAMILY: verdana, Helvetica, sans-serif; TEXT-DECORATION: none
} 
.mainlevel-nav {
 color: #cccccc;
}

a.mainlevel-nav:link, a.mainlevel-nav:visited {
  color: #ffffff;
}
a.mainlevel-nav:hover {
 color: #000000;
}


/*
* Mambo General styling for Sections / Categories / Contents
* ========================================
* These stylings are either sometimes or often used across
* Sections, categories and contents. They, therefore, deserves
* to be mentioned and separated from others.
*/

.createdate {
	font-weight: normal; font-size: 9px; color: #333333; font-family: verdana, Helvetica, sans-serif; text-align: left;
} 
.modifydate {
	font-weight: normal; font-size: 9px; color: #333333; font-family: verdana, Helvetica, sans-serif; text-align: left;
} 
.readon{} /* For formatting the "Read on..." link for blogs and on frontpage. */
.frontpageheader {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #5D6E5D; FONT-FAMILY: verdana, Verdana, helvetica, sans-serif; BACKGROUND-COLOR: transparent;
}

/*
* Mambo Styling for Contents
* ===================
* All the styling for contents are listed
* below.
*/

.contentpane {} /* This is used mainly for the table that holds the SECTIONS such as News. This is when you create a link to a Section and when clicked on it, it will display "News" then some description (with image if you selected one) and then a list of Category of News. Yes! That entire thing is contained in a table with this style */

.contentpaneopen {} /* This is YOUR CONTENT page when open. ie NOT the NEWS category list, but the actual NEWS page its self. It effects all content within Mambo including the front page. It controls both your heading and body content tables.*/
.contentheading {	
	FONT-WEIGHT: normal; 
FONT-SIZE: 12px;  
COLOR: #71828A; 
FONT-FAMILY: verdana, helvetica, sans-serif;  
TEXT-ALIGN: left; 
text-indent:20px;
	height:24px;
padding-left: 20px; 
} 

table.contentpaneopen {
	width: 100%;
	
}

table.contentpaneopen td {
	width: 100%;
	padding:0px;
}

table.contentpane {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

td.contentheading {
	background: url(../images/bckline.gif);
	width: 100%;
}
a.contentpagetitle:link, a.contentpagetitle:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; COLOR: #5D6E5D; FONT-FAMILY: verdana, Verdana, helvetica, sans-serif; 
}
a.contentpagetitle:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; TEXT-TRANSFORM: uppercase; COLOR: #285ba1; FONT-FAMILY: verdana, Verdana, helvetica, sans-serif; text-decoration: none;
}
.contentdescription {} /* When you create a link to a Section in the main menu and when clicked on it, it will display "News" then some description (with image if you selected one) and then a list of Category of News. This style is used for formating the "DESCRIPTION" part of that page */
table.contenttoc {COLOR: #4A574A; }
table.contenttoc td {COLOR: #4A574A; } /* the same as above, but this is used to format the td or table cells */
.content_rating {} /* used for styling the texts used for displaying those "stars" for rating in an article */
.content_vote {} /* used for those voting texts (the one with voting RADIO buttons) */




/*
* Mambo Sections Styles
* ================
* Styling of sections tables
*/

.sectiontableheader {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: verdana, helvetica, sans-serif; BACKGROUND-COLOR: #d8dee6; TEXT-ALIGN: left;
}
.sectiontableentry1 {} 
.sectiontableentry2 {} 

/*
* Mambo Styles for Categories
* ====================
* The following are the styling for "Category" items
* generated from the Sections area
*/

.category {} 
a.category:link, a.category:visited {} /* same as above, but to set the link format */
a.category:hover {} /* same as above, but for links with mouse pointer over it */




.blogsection{} /* to be updated */


/*
* Mambo Components Styles
* ===================
* These stylings are to format the way components title
* is displayed
*/

.componentheading {  /* This is used for formatting the component's title when it is displayed on its own page on the frontend */
		FONT-WEIGHT: normal; 
FONT-SIZE: 14px; 
VERTICAL-ALIGN: top; 
TEXT-TRANSFORM: uppercase; 
COLOR: #5D6E5D; 
FONT-FAMILY: verdana, helvetica, sans-serif;  
TEXT-ALIGN: left; 
padding-top: 7px; 
padding-bottom: 7px; 
background-repeat:no-repeat; 
padding-left: 20px; 
}


/* Modules */
/*
* Mambo Modules formatting
* ===================
* These stylings are to format the way modules are
* displayed. It mainly deals with the format of its
* table. I think this doesn't need too much explaining
*/

table.moduletable {
width: 300px;
text-align: center;


} 
table.moduletable th {
	FONT-WEIGHT: normal; 
FONT-SIZE: 11px; 
VERTICAL-ALIGN: top; 
TEXT-TRANSFORM: uppercase; 
COLOR: #ffffff; 
FONT-FAMILY: verdana, verdana, helvetica, sans-serif;  
TEXT-ALIGN: center; 
padding-top: 7px; 
padding-bottom: 7px; 
background-repeat:no-repeat; 
height: 17px; 
width: 155px;
} 
table.moduletable td {
color: #757575;
} 


/* Polls */
.poll {} /* polls texts */
.pollstableborder {} /* set the border properties of the polls voting table */

/* Weblinks */
.weblinks{} /* well.. to format the link's titles under the "Weblinks" section on the frontend */
a.weblinks:hover {} /* same as above, but for link with mouseover */

/* Newsfeeds */
.newsfeedheading {} /* The newsfeed title. NOTE: This will not affect the newsfeed's news title! */
.newsfeeddate {} /* yeah.. the date on the newsfeed */
.fase4rdf {} /* this is the body text of the newsfeed */

/* Search page */
table.searchintro {} /* This is for formatting the box with "Search Keyword: test returned 4 matches" box that appears after you have entered a search value. It appears on the mainbody with the search results */

/* Contact's table settings */
table.contact {} /* for formatting the entire "Contact" table which includes the name, address icons and form. Note this table DOES NOT enclose the dropdown list for selecting the Department/person to contact */
table.contact td.icons {} /* the name gave it away. This formats the <td> cells where the little icons sits next to the details (those addresses, phone number etc) */
table.contact td.details {} /* this is for formatting the <td> cells where all the details sits. The details where addresses, phone number and additional info are */

.pathway {
  font-size        : 10px;
  color            : #ffffff;
  padding-left     : 8px;
padding-bottom: 3px;
VERTICAL-ALIGN: top;
}
a.pathway:link, a.pathway:visited {
color            : #cccccc;  
font-size        : 10px;
  padding-left     : 0px;
}
a.pathway:hover {
  font-size        : 10px;
  padding-left     : 0px;
color: #ffffff;
}

a.zakaz {
	background-color: #1D98BF;
    background-image: -moz-linear-gradient(center top , #1D98BF, #0C799B);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF!important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-transition: all 0.1s linear 0s;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-decoration: none;
	font-size: 15px!important;
    padding: 8px 12px;

}


a:hover.zakaz {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
text-decoration: none!important;
}

#boxe {
	height: 1150px;
	width:600px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#contente {
	height: 1150px;

}