.shpr{background-color:#CCC;visibility:hidden;width:80%;height:340px;display:none;}
.shprt{width:95%;height:300px;}
.n3{cursor:pointer;color:#0066CC;}
.n3:hover{color:#990000;}
sm{font-size:13px;}
table{ border-collapse:collapse;table-layout:fixed;}
td{overflow:hidden;}
h1{font-size:18px;}
h2{font-size:16px;}
.bir:link{color:#FFF;text-decoration:none;}
.bir:active{color:#900;}
.bir:visited{color:#FFF;text-decoration:none;}
.bir:hover{text-decoration:underline;}
a:link{color:#00F;text-decoration:none;}
a:active{color:#900;}
a:visited{color:#06F;text-decoration:none;}
a:hover{color:#090; text-decoration:underline;}
.ap{position: absolute;width: 32px;height: 32px;margin-top:0px;background: url(/images/cb.png) no-repeat;overflow: hidden;}
.g2{margin-left:32px;background-position:-32px 0px;}
.ya{margin-left:64px;background-position:-64px 0px;}
.ma{margin-left:96px;background-position:-96px 0px;}
.vk{margin-left:128px;background-position:-128px 0px;}
.od{margin-left:160px;background-position:-160px 0px;}
.fb{margin-left:192px;background-position:-192px 0px;}
.tw{margin-left:224px;background-position:-224px 0px;}
.slpr:hover,.kick:hover, .icons:hover, .stars:hover, .pict:hover{opacity: 1;cursor:pointer;}
.slpr,.kick, .icons, .stars, .pict{opacity:0.8;background:url(/images/icons.png) no-repeat;overflow:hidden;}
.kick{position: absolute;width:14px;height:14px;margin-top:4px;background-position:-75px 0px;}
.a3:hover{color:#090;cursor:pointer;}
.a3{color:#066;}