body{
background: #F6F2E3;
color: #414141;
font-size: 14px;
font-family: 'Open Sans', sans-serif;
padding: 0;
margin: 0;}

#mc{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  background-image: url(../i/bgh1.png);
  background-repeat:repeat-x;
  background-position:top;
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.80);
}
.subsearch{
display:block;
margin-top:50px;
clear:both;
}
#logo{
  width: 1000px;
  margin: 0 auto;
  text-align:left;
}
#menu{
  width:100%;
  height:50px;
  border-bottom:1px solid #3f7696;
  background-image: url(../i/topnav-bg.png)
}
#menu a{
  font-size: 19px;
text-transform: uppercase;
color: #F9F9F9;
text-decoration: none;
}
#menu a:hover{
  text-decoration:underline;
}

  #menu ul{
    list-style: none;
  }

  #menu li{
    padding: 14px 25px;
padding-bottom: 13px;
    float: left;
  }
#category{
  padding: 0px 10px;
  width: 100%;
  clear:both;
}
#category li{
vertical-align:top;
}
.catitem{
  width: 50%;
  float:left;
  }
  .catitem ul{
  list-style:none;
  }
  .catitem li{
  margin: 0;list-style: none;
  }
#content{
      padding: 10px 10px;
  
}
#fixdiv{
  clear: both;
  height:80px;

}

.htit{
font-size: 1.2em;
color: #CA4133;
font-weight: normal;
}

.btit{
font-size: 62.5%;
color: #635A4E;
white-space: pre-wrap; 
white-space: -moz-pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
}
.mtit{
font: normal 0.7em;
color: #BFB8AC;
}

dl.rubs dt{
width:95%;
}

dl.rubs dd{
margin-top:10px;
	color:#777;
	margin-left:40px;
	padding-left:20px;
	width:90%;
	font-size:90%;
	font-style:italy;
	border-left:1px solid #888;
}
dl.rubs dt{
vertical-align:top;
margin-right:10px;
}
#searchdiv{
padding:10px auto;
border-bottom:1px dotted #eee; 

}
  .form-wrapper {
        width: 650px;
        padding: 8px;
        margin: 20px auto;
        overflow: hidden;
        border-width: 1px;
        border-style: solid;
        border-color: #dedede #bababa #aaa #bababa;
        -moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        -webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;    
        background-color: #f6f6f6;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8)); 
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -moz-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: -o-linear-gradient(top, #f6f6f6, #eae8e8);
        background-image: linear-gradient(top, #f6f6f6, #eae8e8);
    }
    
    .form-wrapper #search {
        width: 520px;
        height: 20px;
        padding: 10px 5px;
        float: left;    
        font: bold 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 1px solid #ccc;
        -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;      
    }
    
    .form-wrapper #search:focus {
        outline: 0; 
        border-color: #aaa;
        -moz-box-shadow: 0 1px 1px #bbb inset;
        -webkit-box-shadow: 0 1px 1px #bbb inset;
        box-shadow: 0 1px 1px #bbb inset;  
    }
    
    .form-wrapper #search::-webkit-input-placeholder {
       color: #999;
       font-weight: normal;
    }
    
    .form-wrapper #search:-moz-placeholder {
        color: #999;
        font-weight: normal;
    }
    
    .form-wrapper #search:-ms-input-placeholder {
        color: #999;
        font-weight: normal;
    }    
    
    .form-wrapper #submit {
        float: right;    
        border: 1px solid #00748f;
        height: 42px;
        width: 100px;
        padding: 0;
        cursor: pointer;
        font: bold 15px Arial, Helvetica;
        color: #fafafa;
        text-transform: uppercase;    
        background-color: #0483a0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#31b2c3), to(#0483a0));
        background-image: -webkit-linear-gradient(top, #31b2c3, #0483a0);
        background-image: -moz-linear-gradient(top, #31b2c3, #0483a0);
        background-image: -ms-linear-gradient(top, #31b2c3, #0483a0);
        background-image: -o-linear-gradient(top, #31b2c3, #0483a0);
        background-image: linear-gradient(top, #31b2c3, #0483a0);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;      
        text-shadow: 0 1px 0 rgba(0, 0 ,0, .3);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
    }
      
    .form-wrapper #submit:hover,
    .form-wrapper #submit:focus {		
        background-color: #31b2c3;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#0483a0), to(#31b2c3));
        background-image: -webkit-linear-gradient(top, #0483a0, #31b2c3);
        background-image: -moz-linear-gradient(top, #0483a0, #31b2c3);
        background-image: -ms-linear-gradient(top, #0483a0, #31b2c3);
        background-image: -o-linear-gradient(top, #0483a0, #31b2c3);
        background-image: linear-gradient(top, #0483a0, #31b2c3);
    }	
      
    .form-wrapper #submit:active {
        outline: 0;    
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;    
    }
      
    .form-wrapper #submit::-moz-focus-inner {
        border: 0;
    }
	
	/* */
.rounded-list{
	  counter-reset: li;
				list-style: none;
				*list-style: decimal;
				font: 15px 'trebuchet MS', 'lucida sans';
				padding: 0;
				margin-bottom: 4em;
				text-shadow: 0 1px 0 rgba(255,255,255,.5);
				}
h1.ch1{
text-shadow: 1px 1px 4px rgba(150, 150, 150, 0.79);
}
.ivi{
display:inline-table;
width:850px;
}
.inum{
top:0;
margin-right:5px;
display:inline-table;
}


.a-btn-sp{
margin-top:30px;
}

.a-btn{
    width:120px;
    height:120px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    display:block;
    margin:20px;
    float:left;
    #background:#f0ad4e;
	background:#7ACB74;
    position:relative;
    -webkit-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(163, 228, 245, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(163, 228, 245, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(246, 212, 163, 0.5) inset, 0px -1px 5px 4px rgba(163, 228, 245, 0.2) inset, 0px 0px 0px 7px #fff,  0px 0px 1px 8px rgba(188, 188, 188, 0.4), 0px 0px 0px 9px #fff;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span{
    display:table-cell;
    width:80px;
    height:80px;
    padding:20px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
    color:#fff;
    text-shadow:0px 1px 1px #186769;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.a-btn span:nth-child(1), 
.a-btn span:nth-child(3){
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    line-height:16px;
    opacity:0;
}
.a-btn span:nth-child(1){
    background:transparent url(/i/star.png) no-repeat center center;
    opacity:0.2;
}
.a-btn:hover{
    background:rgba(43, 169, 209, 0.6);
    -webkit-box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(26, 101, 125, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(26, 101, 125, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
    box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(26, 101, 125, 0.2) inset, 0px 0px 0px 7px #fff,  1px 4px 5px 8px rgba(188, 188, 188, 0.6), 0px 0px 0px 9px #fff;
}
.a-btn:hover span:nth-child(3){
    opacity:1;
}
.a-btn:hover span:nth-child(2){
    opacity: 0; 
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);
}
.a-btn:hover span:nth-child(1){
    -webkit-animation:rotate 1s linear;
    -moz-animation:rotate 1s linear;
    animation:rotate 1s linear;
}
.a-btn:active{
    -webkit-box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(19, 108, 121, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    -moz-box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(19, 108, 121, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
    box-shadow:0px 0px 5px 0px rgba(21, 85, 106, 0.5) inset, 0px -1px 5px 4px rgba(19, 108, 121, 0.2) inset, 0px 0px 0px 7px #fff,  0px -1px 0px 8px rgba(188, 188, 188, 0.3), 0px 0px 0px 10px #fff;
}
.a-btn:active span:nth-child(2){
    color:rgba(170, 77, 27, 0.8);
    text-shadow:0px 1px 1px rgba(255, 255, 255, 0.6);
}
@keyframes rotate{
    0% { transform: scale(1) rotate(0);}
    50% { transform: scale(0.5) rotate(180deg);}
    100% { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes rotate{
    0% { -webkit-transform: scale(1) rotate(0);}
    50% { -webkit-transform: scale(0.5) rotate(180deg);}
    100% { -webkit-transform: scale(1) rotate(360deg);}
}
@-moz-keyframes rotate{
    0% { -moz-transform: scale(1) rotate(0);}
    50% { -moz-transform: scale(0.5) rotate(180deg);}
    100% { -moz-transform: scale(1) rotate(360deg);}
}


#downloaditem{
display:block;
width:350px;
height:300px;
position:absolute;
left:380px;
top:200px;
background-color:#fff;
padding:30px;
-webkit-box-shadow: 0px 0px 19px rgba(50, 50, 50, 0.45);
-moz-box-shadow:    0px 0px 19px rgba(50, 50, 50, 0.45);
box-shadow:         0px 0px 19px rgba(50, 50, 50, 0.45);
display:none;
}
[class*='close-'] {
    color: #777;
    font: 14px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 5px;
  }
.lcols{
float:left;
width:150px;
} 
.rcols{
padding-left:170px;
width:70%;
}
.bbl{
border-right:1px solid #ddd;
float:left;
width:45%;
margin-right:30px;
}
h1.science{
font-size:16px;
padding:0;
margin:0;
font-weight:600;
color:#CA4133;
}
.science-entry li{
display: inline;
padding-right:5px;
}
#footer{
height:30px;
margin-top:20px;
padding-top:20px;
border-top:1px solid #eee;
}
#footer span{
font-size:80%;
padding-left:30px;
}
#footer span a{
margin-right:50px;
}
.counter{
text-align:right;
float:right;
right:0px;
bottom:20px;
}
ul.typet p{
padding-left:10px;
padding-right:20px;
}
ul.typet a{
font-size:105%;
font-weight:600;
}
.txt li{
list-style:circle;
margin-left:30px;
}
.txt p:first-letter{
margin-left:5px;
}
.txt p.hl{
background-color:#F4F4F4;
margin:10px;
}
#otherlink{
margin-left:170px;
}
#otherlink a{
}
#otherlink h1{
font-size:14px;
}
#google_ads_top{
position:absolute;
top:10px;
right:50px;
}

.tb {
	text-align: center;
}