body {
  color            : #000000;
  margin-left      : 10px;
  margin-right     : 10px;
  margin-bottom    : 20px;
  padding          : 0px;
  background-color : #FFFFFF;
  font-family      : arial, sans-serif;
  font-size        : 12px;
 
}
td, tr, p, div {
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 12px;
  color            : #333333;
}
hr {
  color            : #999999;
  height           : 1px;
  width            : 100%;
}
.search_box {
  float: right;
  background	   : transparent url(../images/search.jpg);
  color			   : #333333;
}
.button {
  font-family       : Verdana, Arial, Helvetica, sans-serif;
  font-size         : 11px;
  border            : 1px solid #AABBBF;
  background-color  : #FFFFFF;
  color             :#404F59;
  background-image  : url(../images/but.gif);
  padding           : 2px;
}

ul#mainlevel-nav {
  list-style        : none;
  padding           : 0;
  margin            : 0;
  font-size         : 0.8em;
}
ul#mainlevel-nav li {
  display           : block;
  background-image  : none;
  padding-left      : 0px;
  padding-right     : 0px;
  float             : left;
  margin            : 0;
  width             : auto !important;
  width             : 15%;
  font-size         : 11px;
  line-height       : 21px;
  white-space       : nowrap;
  border-right      : 1px solid #cccccc;
}
ul#mainlevel-nav li a {
  width             : 100%;
  display           : block;
  padding-left      : 15px;
  padding-right     : 15px;
  text-decoration   : none;
  color             : #333333;
  background        : transparent;
}

#buttons>ul#mainlevel-nav li a { width: auto; }

ul#mainlevel-nav li a:hover{
  color            : #FF9900;
}
table.moduletable {
  width			   : 100%;
  table-layout	   : auto;
}
table.moduletable th {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  font-size        : 11px;
  font-weight      : bold;
  text-align       : center;
  height           : 24px;
  line-height      : 24px;
  color            : #FFF;
  border-left      : 1px solid #FFF; 
  border-right     : 1px solid #FFF; 
  background-image : url(../images/header.jpg);  
}
table.moduletable td {
  padding-left     : 3px;
  padding-right    : 3px;
}
table.content{
  width            : 100%;
  padding          : 20px;
  border-collapse  : collapse;
  border-spacing   : 0px;
  margin-bottom    : 10px;
}
table.contentpane {
  width            : 100%;
  padding-left     : 3px;
  padding-right    : 3px;
  padding-top      : 3px;
  border-spacing   : 0px;
  margin-bottom    : 5px;
}
table.contentpaneopen {
  width            : 100%;
  padding-left     : 3px;
  padding-right    : 3px;
  padding-top      : 3px;
  border-spacing   : 0px;
  margin-bottom    : 5px;
}
.contentheading {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  letter-spacing   : 1px;
  background       : url(../images/header.jpg) ;
  font-size        : 12px;
  font-weight      : bold;
  height           : 22px;
  line-height      : 22px;
  text-transform   : uppercase;
  padding-left     : 10px;
  text-align       : left;
  color            : #FFF;
  width            : 100%;
  margin           : 2px;
}
.componentheading {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  letter-spacing   : 1px;
  background       : url(../images/header.jpg);
  font-size        : 12px;
  font-weight      : bold;
  height           : 22px;
  line-height      : 22px;
  text-transform   : uppercase;
  padding-left     : 10px;
  text-align       : left;
  color            : #FFF;
  width            : auto;
  margin           : 2px;
  
  }
.title {
  font-family      : Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight      : bold;
  text-transform   : uppercase;
  text-indent      : 8px;
  font-size        : 20px;
  text-align       : left;
  color            : #56666E;
}
.title a:link, .title a:visited {
  font-size        : 20px;
  color            : #56666E;
  text-decoration  : none;
  font-weight      : bold;
}
.title a:hover {
  font-size        : 20px;
  color            : #56666E;
  text-decoration  : none;
  font-weight      : bold;
}
.buttonheading {
  background       : url(../images/header.jpg);
  padding-left     : 4px;
  padding-right    : 4px;
  }
a.mainlevel  {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif;
  text-align       : center;
  display          : block;
  line-height      : 22px;
  height: 20px;
  font-size        : 12px;
  width            : auto;
  background       : url(../images/boff.jpg);
}
a.mainlevel:link {
  text-align       : center;
  display          : block;
  font-size        : 12px;
  width            : auto;
}
a.mainlevel:link, a.mainlevel:visited {
  text-align       : center;
  display          : block;
  font-size        : 12px;
  font-weight      : normal;
  padding          : 0px 0px 0px 0px;
  color            : #333333;
  width            : auto;
}
a.mainlevel:hover {
  text-align       : center;
  display          : block;
  background       : url(../images/bon.jpg);
  font-size        : 12px;
  font-weight      : normal;
  text-decoration  : none;
}
#active_menu {
  text-align       : center;
  color            : #333333;
  background       : url(../images/bon.jpg);
  font-weight      : bold;
}
a#active_menu:hover {
  text-align       : center;
  color            : #333333;
}
a:link, a:visited {
  font-size        : 12px;
  color            : #708088;
  text-decoration  : none;
  font-weight      : bold;
}
a:hover {
  font-size        : 12px;
  color            : #99CCFF;
  text-decoration  : none;
  font-weight      : bold;
}
a.category:link, a.category:visited {
  font-size        : 12px;
  font-weight      : bold;
}
a.readon:link, a.readon:visited {
  color            :#404F59;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  white-space      : normal;
  font-weight      : normal;
  padding-bottom   : 4px;
  padding-left     : 4px;
  padding-right    : 4px;
  padding-top      : 4px;
  float            : left;
  line-height      : 10px;
  text-decoration  : none; 
  border           : 1px solid #AABBBF;
  background-color : #FFFFFF;
  background-image : url(../images/but.gif);
  }
a.readon:hover {
  color            :#FF9900;
  font-family      : Verdana, Arial, Helvetica, sans-serif;
  font-size        : 10px;
  white-space      : normal;
  font-weight      : normal;
  padding-bottom   : 4px;
  padding-left     : 4px;
  padding-right    : 4px;
  padding-top      : 4px;
  float            : left;
  line-height      : 10px;
  text-decoration  : none; 
  border           : 1px solid #AABBBF;
  background-color : #FFFFFF;
}
ul {
  
  margin           : 2px;
  padding-left     : 0px;
  list-style       : none;
}
li {
  
  line-height      : 15px;
  padding-left     : 15px;
  padding-top      : 0px;
  background-image : url(../images/bullet.gif) ;
  background-repeat: no-repeat;
  background-position: 0px 3px;
}  
.date {
  font-family      : Arial, Verdana, Geneva, Helvetica, sans-serif; 
  font-size        : 10px;
  color            : #333333;
  padding-right    : 10px;
}
.small {
  font-size        : 10px;
  color            : #333333;
}
.smalldark {
  font-size        : 10px;
  color            : #333333;
}
.createdate, .modifydate {
  font-size        : 10px;
  color            : #666666;
}
.pathway {
  font-size        : 10px;
  color            : #333333;
  padding-left     : 14px;
}
a.pathway:link, a.pathway:visited {
  color            : #FF9900;
  font-size        : 10px;
  padding-left     : 0px;
}
a.pathway:hover {
  font-size        : 10px;
  padding-left     : 0px;
}
.blog_more {
padding-left       : 10px;
}
.inputbox {
background-image   :url(../images/inputback.jpg);
border             : 1px solid #666;
}
.back_button {
text-align         : center;
padding            : 10px;
}
.pagenavcounter {
  font-size        : 10px;
  color            : #FF9900;
}
.small {
  font-size        : 10px;
  color            : #333333;
}
.smalldark {
  font-size        : 10px;
  color            : #333333;
}
.createdate, .modifydate {
  font-size        : 10px;
  color            : #666666;
}
.content_vote {
  font-size        : 10px;
  height           : 22px;
  padding-top      : 2px;
  padding-bottom   : 2px;
}
.content_rating {
  font-size        : 10px;
  color            : #CC9900;
}
.contact_email  {
  width            : 100%;
}
.contact_email .inputbox {
  width            : 345px;
}
.sectiontableheader {
  font-size        : 11px;
  font-weight      : normal;
  text-transform   : uppercase;
  letter-spacing   : 1px;
  background       : #D8E0E4;
  color            : #333333;
  padding          : 4px;
}
.sectiontableentry1 {
  vertical-align   : top;
  padding          : 3px;
  background       : #E6EEF2;
  border-top       : 1px solid #FFFFFF;
  border-bottom    : 1px solid #999999;
}
.sectiontableentry2 {
  vertical-align   : top;
  padding          : 3px;
  border-top       : 1px solid #FFFFFF;
  border-bottom    : 1px solid #999999;
}
table.contenttoc {
  border           : 1px solid #FFFFFF;
  background       : #E6EEF2;
  padding          : 5px;
  margin-right     : 10px;
  margin-left      : 10px;
  margin-bottom    : 10px;
}
span.highlight {
font-weight: bold;
color: #FF6600;
}