.slpr:hover,.kick:hover, .icons:hover, .stars:hover, .pict:hover{opacity: 1;cursor:pointer;}
.slpr,.kick, .icons, .stars, .pict{
opacity: 0.8;
background: url(/rudocs/i/icons.png) no-repeat;
overflow: hidden;
}
.kick{
position: absolute;
width: 14px;
height: 14px;
margin-top: 4px;
background-position:-75px 0px;
}
.menu_table{border-collapse:collapse;table-layout:fixed;border:#000 1px solid;}
.mt2{overflow:hidden;border-collapse:collapse;table-layout:fixed;}
.butback{color:#666;}
.butback:hover{text-decoration:underline;cursor:pointer;}
.dlh1{ font-size:20px;margin:0px;}
.dlh2{ font-size:19px;color:#333;}
.dlh3{ font-size:16px;}
.highlight{color:#090;}
.grad{
	background: #999;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #aaa,  #000); 
	background: -o-linear-gradient(top,  #aaa,  #000); 
}
.grad2{
	background:#B00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#BB0000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#B00)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #aaa,  #B00); 
	background: -o-linear-gradient(top,  #aaa,  #B00); 
}
.gradg{
	background:#0B0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#00BB00'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#0B0)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #BBB,  #0B0);
	background: -o-linear-gradient(top,  #BBB,  #0B0);
}
.gradb{
	background:#00B;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#0000BB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#00B)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #BBB,  #00B);
	background: -o-linear-gradient(top,  #BBB,  #00B);
}
.gradbl{
	background:#00B;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#FFFFFF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BBB), to(#FFF)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #BBB,  #FFF);
	background: -o-linear-gradient(top,  #BBB,  #FFF);
}
.rad,.cont{border-radius: 17px;-border-radius: 17px;-moz-border-radius: 17px; -webkit-border-radius: 17px; -khtml-border-radius: 17px; -opera-border-radius: 17px;}
.cont{border: 1px solid #FFF; margin-left:200px;margin-top:150px; background-color:#FFF; padding:10px 40px 10px 10px;}
.mtable{overflow:hidden;border-collapse:collapse;table-layout: fixed; width: 100%;}
.mtable2{border:1px solid #00C;margin:10px;padding:5px;width:100%;}

.menu{position:absolute;left:15px;top:100px;}
.top{position:absolute;left:15px;top:2px;width:95%;height:160px;  }
.i1{float:left;margin-right:10px;}
.i2{float:right;margin:10px;}
.te{font-size:12px;color:#333;}
.dt{font-size:11px;}
.sn{font-size:14px;color:#06C;}
.wn{font-size:14px;color:#333;padding-left:10px;margin-top:7px;}
.repabuse{margin-left:20px;font-size:12px;color:#333;}
.repabuse:hover{text-decoration:underline;cursor:pointer;}
.dnl{font-size:15px;padding-left:10px;margin-top:7px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.author{color:#069;}
.prodesc{font-size:15px;margin-top:7px; padding-left:10px; text-align:justify;}
.tabset{ font-size:14px; margin:10px 0px 0px 15px;}
.tabset tr{height:24px; vertical-align:top;}
.filelist{border:1px solid #00C;width:100%;}

.td_b{border-bottom:1px solid #000;}
.h1m{ font-size:22px;margin:-12px -42px 10px -12px; padding:10px;}
.dlh2{ font-size:19px;color:#333;}
.dlh3{ font-size:16px;}
.pubtable{font-size:14px;}
.imgbig{position:absolute; z-index:2;}
.catlink{color:#FFF;}
.catlink2{color:#009;}
.catlink2:visited{color:#009;}
.but{width:160px;padding:5px;margin:0px 0px 5px -5px; text-align:center;}
.butq{width:155px;padding:5px;margin:0px 0px 5px -5px; text-align:center; color:#666;}
.but3{width:160px;padding:5px;margin:0px 0px 5px -5px; text-align:center;}
.but4{width:60px;padding:5px;margin:0px 0px 5px -5px; text-align:center;}
.but5{width:30px;padding:5px;margin:0px 0px 5px -5px;position:absolute;}
.but2{padding:5px 15px 5px 15px;color:#FFF;}
.rates{ padding:0px 5px 0px 5px; display:inline-block;}
.fs20{font-size:20px;}
.fs18{font-size:18px;}
.stardis{opacity:0.2;}
.fheart{ font-size:12px;}
.frate{ font-size:12px;}
.textbar{border:1px solid #03C; width:300px;}
.commstable{border-collapse:collapse;margin-left:30px;}
.commstable tr{border-bottom:1px solid #999;}
.ringlist tr{height:60px;}
.linkc:hover{cursor:pointer;}
