html, body { width:100%; height: 100%; margin: 0;	padding: 0 }

a:link, a:visited, a:hover, a:active { color: #000000; text-decoration: underline }
a.menu:link, a.menu:visited, a.menu:hover, a.menu:active { color: #FFFFFF; text-decoration: underline }
a.menu_left:link, a.menu_left:visited, a.menu_left:active{ color: #000000; text-decoration: none }
a.menu_left:hover {	color: #A10F16;	text-decoration: underline }

img.left { float:left; margin-right: 5px }

h1.ttl { font: bold 13pt Arial; color: #663300; padding: 10px;	margin-bottom: 10px; }
h1.hdng { font: normal 28px/1em Arial, Helvetica; text-align: left; color: #000000; margin: 0; padding: 0 }
h2 { font: bold 12pt "Times New Roman"; color: black }
h3 { font: italic normal 12pt "Times New Roman"; color: black }
h2.blc { font: bold 8pt Arial; color: #FFFFFF; margin-bottom: 10px;	padding-left: 10px; background: #A10F16 }

.clmnrg { background: url('/_pic/clmn_sh_rgt.gif') left repeat-y }
.clmnlf { background: url('/_pic/clmn_sh_lft.gif') right repeat-y }

ul.menu { padding-left: 280px; margin: 0 }
ul.menu li { display: inline; margin-right: 20px; padding: 3px; font: normal 10pt Arial }

#menu_left { list-style-image: url('/_pic/list.gif'); font: 8pt/1.5 Arial; padding: 25px 10px 10px 10px; background: url(/_pic/clmn_bg.gif) repeat-y; border-bottom: solid 2px #E2E2E2 }
ul.menu_left { margin: 0 0 0 20px; padding: 0 }

.context { border-left: 5px solid #D6D7D9; padding-left: 5px; margin: 0 0 10px 0 }
.context_head { border-left: 5px solid #D6D7D9; padding-left: 5px; margin: 0 0 10px 0 }
.context_footer { margin: 0 0 10px 0 }

#logo { position: absolute; top: 11px; left: 10px; height: 160px; padding-top: 10px; background: url(/_pic/clmn_bg.gif) repeat-y; border-top: solid 1px #E2E2E2}
#main { width: 1000px; overflow: hidden; margin-left: 10px }
#left_block { float: left; width: 250px }
#center_block { float: left; margin: 25px 0 0 20px; width: 450px }
#right_block { float: left; margin: 25px 0 0 20px; width: 250px}
#textarea { float: left; width: 700px; margin: 25px 0 20px 20px }

#heading { margin: 0 0 10px 0; height: 110px; padding-left: 25px; background: url('/_pic/hdng_bg.gif') top left no-repeat }
#subchapter { margin: 0 0 10px 0; font: normal 12pt "Times New Roman";	color: black; text-align: justify }
#text {	margin: 0 0 10px 0;	font: normal 12pt "Times New Roman"; color: black; text-align: justify }

#copyright { width: 350px; margin: 0 10px 0 10px; padding-top: 10px; float: right }
#copyright p { font: 7pt Arial; text-align: justify; margin: 2px }
#copyright a { font: 8pt Arial; color: red }

#topadv { float: left; margin: 25px 0 0 280px }
#search { float: left; margin: 0 0 0 17px; padding: 25px 0 0 35px; text-align: left; width: 200px; font: 8pt Arial; color: #000000; background: url(/_pic/gls.gif) 0px 25px no-repeat}

#research { height: 450px; margin: 10px 0 10px 0; padding: 5px; background: #D6D7D9 }
#research h2 { font: bold 13pt Arial; color: #FFFFFF; padding-left: 5px; margin: 0 }
#research p { font: normal 11px Arial; text-align: left; margin: 0; padding: 0 }
#research a { font: bold 12px Arial; text-decoration: underline; padding: 5px; margin: 0; display: block }
#research a.also { font: bold 11px Arial; text-decoration: underline; padding: 0; margin: 0; display: block }
#research a.all { font: bold 7pt Arial; text-align: right }
#research img { float: left; margin: 3px }
.also { height: 56px }

.key { font: 7pt sans-serif; color: #666666; text-align: center }
.form { font: 10px Arial }
.ar { font: 10px/1.4 Arial;	padding: 5px; background: #FEFEDF }
.data {	font: bold 9px sans-serif; padding: 3px; color: #FFFFFF; background: #A10F16 }

.book_title { margin: 0 0 10px 0; padding: 0 0 0 20px; background-color: #D6D7D9 }
.line {	margin: 10px 0 10px 0; padding: 0 0 0 15px; background-color: #D6D7D9 }
.linetext {	font: bold 8pt Arial; color: #000000; background-color: #FFFFFF; padding: 0 5px 0 5px }
.dottedline { height: 3px; margin: 3px 0 3px 0; padding: 0; background: url(http://efaculty.kiev.ua/_pic/dot.gif) repeat-x }

.pages { width: 95%; font: 8pt Arial; border-bottom: 1px dotted #999999; border-top: 1px dotted #999999 }
.articlepage { font: 8pt Arial; text-align: center; border-bottom: 1px dotted #999999; border-top: 1px dotted #999999; margin-bottom: 10px }
.spc { padding: 10px }

.title { width: 450px; margin-bottom: 10px; font: 8pt/1.2 Arial; background: url('/_pic/ttl_bg.gif') no-repeat }
.title a:hover { color: #663300 }
.bl { border-left: 1px dotted #999999; font: 8pt/1.1 Arial; margin-bottom: 20px; padding-left: 10px; }

.mainrow { background: #A10F16; padding: 3px; font: bold 11px Arial; color: #FFFFFF; text-align: center }
.row1 { background: #FEFEDF; padding: 2px; font: 10px Arial;}
.row2 { background: #FFFFFF; padding: 2px; font: 10px Arial;}