/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {

	border:0;

}

#con{
position:relative;
height:46px;
color:#E0E0E0;
background:#143D55;
width:100%;
font-family:Helvetica,Arial,Verdana,sans-serif;
}

#nav{
position:relative;
height:32px;
font-size:12px;
text-transform:uppercase;
font-weight:bold;
background:#fff url(/img/bg.gif) repeat-x bottom left;
padding:0 0 0 20px;
}

#nav ul{
margin:0;
padding:0;
list-style-type:none;
width:auto;
float:left;
}

#nav ul li{
display:block;
float:left;
margin:0 1px;
}

#nav ul li a{
display:block;
float:left;
color:#EAF3F8;
text-decoration:none;
padding:0 0 0 20px;
height:32px;
}

#nav ul li a span{
padding:12px 20px 0 0;
height:21px;
float:left;
}

#nav ul li a:hover{
color:#fff;
background:transparent url(/img/bg_over.gif) repeat-x bottom left;
}

#nav ul li a:hover span{
display:block;
width:auto;
cursor:pointer;
}

#nav ul li a.current,#nav ul li a.current:hover{
color:#fff;
background:#1D6893 url(/img/left_on.gif) no-repeat top left;
line-height:275%;
}

#nav ul li a.current span{
display:block;
padding:0 20px 0 0;
width:auto;
background:#1D6893 url(/img/right_on.gif) no-repeat top right;
height:32px;
}
/*===================*/
/*=== Main Styles ===*/
/*===================*/
body{
margin:0;
padding:0;
font-family:Tahoma;
color:#2166A6;
font-size:14px;
background-color:#D3DFE7;
}

#flag{
width:100px;
height:60px;
float:right; 
position:absolute;
top:152px;
right:0;
padding:0 0 0 9px;
z-index:1;
}

#rekl{
width:468px;
height:120px;
float:right; 
position:relative;
top:15px;
right:5px;
padding:0;
/*outline:1px solid #57A1CA;*/
}

input[type="button"], input[type="submit"] { 
height:25px;
}

input[type="text"], input[type="file"] { 
width:300px;
background-color:#ffffff;
border:1px solid #4f9be8;
}

#login{
width:195px;
background-color:#ffffff;
border:1px solid #4f9be8;
}

#pass{
width:195px;
background-color:#ffffff;
border:1px solid #4f9be8;
}

#left_works{
line-height:0;
}

#authorization{
line-height:5px;
}

#inputCell { 
width:20px;
background-color:#ffffff;
border:1px solid #4f9be8;
}

textarea { 
width:99%; 
height:300px;
background-color:#ffffff;
border:1px solid #4f9be8;
}

#clear{
clear:both;
}

p{
font-family:Tahoma;
text-align:justify;
margin:0;
padding:10px 0 0 0;
}

h1{font-size:20px;font-weight:normal; text-align:center; margin-top:30px;}

a{
color:#0366aa;
font-size:14px;
}

a:hover{
color:#3399FF;
}

#header{
width:100%;
height:150px;
margin:0 auto;
background-image:url(img/header1.jpg); background-repeat:no-repeat;
background-color:#FFFFFF;
}

#wrapper{
width:100%;
}

#content{
min-width:650px;
background-color:#ffffff;
margin:0 230px 0 230px;
padding:15px;
font-size:14px;
line-height:18px;
vertical-align:top;
}

#sidebarL {
width:200px;
float:left;
padding:15px;
background-color: #D3DFE7;  /*Фоновый цвет ячейки*/
border-right:1px solid #FFFFFF;
}

#sidebarL a{
font: bold 12px Verdana; /*Шрифт текста*/
display: block;
width: 100%; /*Ширина ячейки*/
padding-left:5px;
padding-right:5px;
padding-top:7px;
padding-bottom:7px;
text-decoration: none; /*Подчеркивание у ссылок - нет*/
}

#sidebarL a:hover{
background-color: #E8EEF2; /*Фоновый цвет ячейки при наведение курсора*/
}

#sidebarR {
width:200px;
float:right;
padding:15px;
background-color: #D3DFE7;  /*Фоновый цвет ячейки*/
border-left:1px solid #FFFFFF;
text-decoration:none;
}

#sidebarR a{
text-decoration:none;
font-size:12px;
font-family:Verdana;
}

#sidebarL p{
padding:0 15px 0 15px;
}

.sidebarL a{
text-decoration:underline;
}

.sidebarTitle{
background-image:url(img/bg1.gif);
background-repeat:repeat-x;
height: 30px;
padding-top:10px;
margin:-15px -15px 15px -15px;
text-align:center;
font-weight:bold;
line-height: 20px;
color:#FFFFFF;
text-transform: uppercase;
}

#sidebarTitleP{
padding:0;
text-align:center;
font-weight:bold;
}

#num{
width:70px;
float: left;
text-align:center;
}

#typeWork{
width:100px;
float: right;
text-align:center;
}

#nameWork{
margin:0 100px 0 70px;
padding-bottom:10px;
}

#workTitle{
margin:0 100px 0 70px;
text-align:center;
}

#lineTop{
height:15px;
border-top:2px solid #57A1CA;
}

#lineBottom{
height:15px;
border-bottom:2px solid #57A1CA;
margin-bottom:15px;
}

#titpleOpisTop{
height:2px;
border-bottom:2px solid #57A1CA;
}

#numPage {
border: 1px solid #57A1CA;
width:20px;
padding:2px 7px 2px 7px;
margin:0 5px 0 5px;
color:#FFFFFF;
background-image:url(img/numPage.jpg);
background-repeat:repeat-x;
text-decoration:none;
}

#selPage {
border: 4px solid #57A1CA;
width:20px;
padding:2px 7px 2px 7px;
margin:0 5px 0 5px;
color:#57A1CA;
}

#titlePunct{
width:165px;
text-align:left;
float:left;
}

#punct{
text-align:left;
margin-left:160px;
padding-left:10px;
min-height:20px;
}

.pstrnav {
	margin: 20px 0 10px; 0;
	text-align:center;
}

#button{
margin-top:10px;
}

#code{
width:148px;
height:38px;
background-image:url(img/code.jpg);
background-repeat:no-repeat;
float:left;
}

#codeInput{
width:120px;
height:38px;
float:left;
margin:0 15px 0 15px;
padding:0 5px 0 5px;
font-size:26px;
color:#57A1CA;
}

#downloadGroup{
width:460px;
border:2px solid #57A1CA;
padding: 15px;
margin:0 auto;
}

#downloadInstr{
width:300px;
margin:0 auto 10px auto;
}

#opl{
padding-left:20px;
}


#title_content{
position:absolute;
top:523px;
left:340px;
z-index:1;
height:69px;
width:850px;
}

#title_content2{
position:absolute;
top:223px;
left:340px;
z-index:1;
height:69px;
width:850px;
}

#title_rib{
z-index:2;
position:relative;
margin:-27px 0 30px 0;
}

#div50percL{
width:50%;
float:left;
}

#div50percR{
width:50%;
float:right;
margin-top:-15px;
}

#div40percL{
width:35%;
float:left;
padding-right:5%;
}

#div60percR{
width:60%;
float:right;
}

#div100perc{
width:100%;
}

.div_map{
width:100%; 
height:400px; 
border:1px solid #4f9be8;
margin-top:0;
}

#footer{
background-color:#143D55;
height:50px;
width:100%;
font-weight:normal;
color:#FFFFFF;
}

#footer a{
color:#FFFFFF;
}

#footerIn{
background-image:url(img/footer.png);
background-repeat:repeat;
width:960px;
height:45px;
margin:0 auto;
padding: 5px 0 0 0;
text-align:center;
}

#footerText{
width:100%;
margin:0 auto;
text-align:center;
}

#div300{
width:200px;
float:left;
}

#div150{
width:150px;
float:left;
}

ul li {
list-style:none;
}
ul li a {
border:none;
text-decoration:none;
color:#ffffff;
}
ul li a:hover {
background-image:url(img/menu.jpg);
background-repeat:repeat-x;
color:#2166A6;
}

#menuL{
padding:5px 10px 5px 10px;
margin:0;
display:block;
color:#0366aa;
text-decoration:none;
}

#menuL:hover{
background-color:#4f9be8;
color:#ffffff;
}

#meta_d, #meta_k{
width:690px;
}

.ok{
border:1px solid #0c7f00;
background-color:#BAEE6B;
padding:10px;
color:#0c7f00;
text-align:center;
}

.error{
border:1px solid #7F0600;
background-color:#EEB1A8;
padding:10px;
color:#7F0600;
text-align:center;
}

#cerror{
width:100%;
margin:0;
}

.red
{
color:#FF0000;
}
.mini {width:200px; height:150px; border:none; }

/* Стиль рамки перечня статей */
.post {border:0px solid #cccccc; width:700px;margin-top:15px; border: 1px solid #CCC; padding: 2px;}
/* Стиль ячейки внутри рамки */
.post_title {
background-color:#DAE3EA; 
color: #396B69;
padding-left: 15px;
}
.post_title a:hover {
text-decoration:underline;
}

/* Стиль названия статьи */
.post_name {font-weight:bold; margin-top:5px; margin-bottom:5px;}
.post_text{padding:0 15px 0 15px;}
/* Стиль данных статьи в перечне*/
.post_adds {font-size:9px; margin-top:10px; margin-bottom:0px; color:#424242; margin-left:0px;}

#text{
padding: 0 20px 0 20px;
}

#news_line{
border-bottom:1px dotted #E8E8E8;

}

#pro6 ul {margin:0 auto; padding:0; list-style:none; display:table; white-space:nowrap; list-style:none; height:35px; position:relative; background:#fff; font-size:11px;}
#pro6 li {display:table-cell; margin:0; padding:0;}
#pro6 li a {display:block; float:left; height:35px; line-height:30px; color:#333; text-decoration:none; font-family:arial, verdana, sans-serif; font-weight:bold; text-align:center; padding:0 0 0 10px; cursor:pointer; background:url(img/pro_six_0a.gif) no-repeat;}
#pro6 li a b {float:left; display:block; padding:0 25px 5px 15px; background:url(img/pro_six_0b.gif) no-repeat right top;}
#pro6 li.current a {color:#fff; background:url(img/pro_six_2a.gif) no-repeat;}
#pro6 li.current a b {background:url(img/pro_six_2b.gif) no-repeat right top;}
#pro6 li a:hover {color:#fff; background: url(img/pro_six_1a.gif) no-repeat;}
#pro6 li a:hover b {background:url(img/pro_six_1b.gif) no-repeat right top;}
#pro6 li.current a:hover {color:#fff; background: url(img/pro_six_2a.gif) no-repeat; cursor:default;}
#pro6 li.current a:hover b {background:url(img/pro_six_2b.gif) no-repeat right top;}

#smash {
	margin-left:20px;
}

#full_calc {
	width:700px;
	position:relative;
	overflow:hidden;
	padding: 0 20px 0 20px;
}

#type_of_site {
	border:1px solid #4f9be8;
	width:658px;
	padding:2px 10px 2px 10px;
}

#option_1, #option_2, #cms_choice  {
	display:none;
}

#config_site span{
	font:10px Arial, Helvetica, sans-serif;
}

#design, #programming {
	float:left;
	border:1px solid #4f9be8;
	width:313px;
	padding:2px 10px 2px 10px;
	margin-right:10px;
}

#summ{padding: 0 20px 0 20px;}

#page{
	/* Основной контейнер div */
	width:100%;
	margin:20px auto 0;
}

#searchForm{
	/* Форма поиска. */
	background-image:url(img/bg.png);
	background-repeat:repeat-x;
	padding:50px 50px 30px;
	margin:0;
	position:relative;

	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
}

fieldset{
	border:none;
}

#searchInputContainer{
	/* Данный div содержит прозрачный прямоугольник над полем текста поиска */
	width:420px;
	height:36px;
	background:url("img/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#s{
	/* Поле текста поиска. */
	
	border:none;
	color:#2166A6;
	background:url("img/searchBox.png") no-repeat;
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:15px;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	width:385px;
}

/* UL, который содержит иконки типов поиска */

.icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

.icons li{
	background:url("img/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}

/* Стили для каждой иконки */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
	/* Маленькая стрелка, которая перемещается под иконками */
	
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('img/arrow.png') no-repeat;
	left:0;
}


/* Кнопка Искать */


#submitButton{
	background:url('img/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}

#submitButton:hover{
	background-position:left bottom;
}


/* Радио кнопки Поиск по сайту / Поиск в Интернет  */


#searchInContainer{
	float:left;
	margin-top:12px;
	width:330px;
}

label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:11px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:10px;
	white-space:nowrap;
	/*float:left;*/
}

input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Стили для результатов поиска */


.pageContainer{
	/* Сожержит каждую страницу с результатом поиска. Имеет вложенную нижнюю границу. */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
}


p.notFound{
	text-align:center;
	padding:0 0 40px;
}


/* Результаты поиска: новости и веб страницы */


.webResult{ margin-bottom:50px;}
.webResult h2{ 
	background-color:#5D6F7B;
	font-size:18px;
	font-weight:normal;
	padding:8px 20px;
	
	/* Используем закругленные углы CSS3 */
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.webResult h2 b{ color:#fff; }
.webResult h2 a{ color:#eee;border:none;}
.webResult p{ line-height:1.5;padding:15px 20px;}
.webResult p b{ color:white;}
.webResult > a{ margin-left:20px;}


/* Результаты поиска: изображения и видео */


.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* Кнопка _Показать еще_ */

#more{
	width:83px;
	height:24px;
	background:url('img/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}

#more:hover{
	background-position:left bottom;
}



/* Установка доверия */

p.credit{
	margin:20px 0;
	text-align:center;
}

p.credit a{
	background-color:#4B5A64;
	border:1px solid;
	border-color:#3D4D57 #788E9B #788E9B #3D4D57;
	color:#c0d0d8;
	font-size:10px;
	padding:4px 8px;
}

p.credit a:hover{
	background-color:#38464f;
	border-color:#38464f #788E9B #788E9B #38464f;
}

#captcha{
	width:30px;
}

#change_work{
	height:100px;
}