.al { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #FFFFFF }
.txt { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000033}
.stxt { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000033}
.bt { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #FFFFFF }
.ttl {  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; font-weight: bold; color: #FFFFFF}
.nws { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000033 }
.nwss { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 7pt; color: #000033 }
.nwttl { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC0000; font-weight: bold}
A.men { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000033 ; text-decoration:none}
A.men2 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #000033 ; text-decoration:none}
.men { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #CC0000;   margin-left: 10px; text-decoration:none}
.men2 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #CC0000; text-decoration:none}
A.men:hover { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #CC0000 ; margin-left: 11px; text-decoration:underline}
A.men2:hover { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; color: #CC0000 ; margin-left: 1px; text-decoration:underline}
A.men1 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000033 ; text-decoration:none}
A.men1:hover { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC0000 ; text-decoration:underline}
.menut {font-weight: bold; color: #13089e; font-family: Arial, Helvetica, sans-serif}
.pth {font-weight: bold; color: #CC0000; font-family: Arial, Helvetica, sans-serif}
h1 {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif, Trebuchet MS; font-size: 12pt; font-weight: bold}
h2 {font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; font-weight: bold}
.menk { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000033; margin-left: 5px; text-decoration:none; font-weight: bold}
A.menk:hover { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #CC0000; margin-left: 5px; text-decoration:underline; font-weight: bold}
.nwsk { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #000033; margin-left: 5px; text-decoration: none}
A.nwsk:hover { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 8pt; color: #CC0000; margin-left: 6px; text-decoration:underline;}
#fix {position: fixed;left: 0px;top: 0px;}
#fix2 {position: fixed;left: 0px;top: 120px;}
#fix3 {position: fixed;left: 180px;top: 120px;}
#fix4 {position: fixed;width:400px;height:100px;left: 5px;top: 10px;}
#fix5 {position: fixed;width:1000px;height:400px;left: 5px;top: 10px;}
A {FONT: 10px Verdana, Tahoma, Arial; COLOR: #000000; TEXT-DECORATION: underline; font-size: 10pt;}
A:hover {COLOR: #000CFF; TEXT-DECORATION: none; font-size: 10pt;}
A:active {COLOR: #000000; TEXT-DECORATION: none; font-size: 10pt;}
TD.normal{FONT: bold 10px Verdana, Tahoma, Arial; color: white; font-weight: bold;}
.headtablepub { font-family: Verdana, Arial, Tahoma; font-weight: bold; font-size: 0.7em; color: #000099; background-position: center; background: #EEEEEE; text-align: center }
.txttable2 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000033; background: #FFFFCC; background-color: #EAF2FC }
.txttable1 { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 10pt; color: #000033; background: #D7FFF5; background-color: #F8F3E8 }
.headName { font-family: Verdana, Arial, Tahoma; font-weight: bold; font-size: 1.2em; color: #0033FF;}
.head0 { font-family: Verdana, Arial, Tahoma; font-weight: bold; font-size: 0.7em; color: #d03700;}
.head1 { font-family: Verdana, Arial, Tahoma; font-weight: normal; font-size: 1.2em; color: #d03700;}
.head2 { font-family: Verdana, Arial, Tahoma; font-weight: normal; font-size: 1em; color: #d03700;}
.txt { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; color: #000033;}
.stxt { font-family: Times New Roman, Tahoma, Arial; font-size: 12pt; color: #000033; text-align: justify;}
.contentpaneopen {font-family: Tahoma; text-align: justify; font-size: 0.9em; color: #000033;}
.txthead {text-align: center; font-size: 11pt; color: #000033; font-weight: bold;}
.dot {color: #000033;	border-top: 1px dotted #7f7f7f;width: 100%;}
.bottomtext{ font-family: Times New Roman, Tahoma, Arial; font-size: 9pt; color: #76838D;}
.boldblue {color: #005f89; font: bold; font-family: arial; font-size: 10pt; text-align: left;}
.header2 {color: #3366FF; font: italic bold; font-family: arial; font-size: 12pt; text-align: left; }
.grey {color: 3C5150; font-family: arial; font-size: 10pt; text-align: left;}
.t_bold{font-family: Arial; font-size: 11pt; color: #000000; font: bold;}
.t_boldred{font-family: Arial; font-size: 11pt; color: red; font: bold;}
.t_text{font-family: Arial; font-size: 10pt; color: #000000;}
.A_notlink{FONT: bold 10px Verdana, Tahoma, Arial; COLOR: #000000; TEXT-DECORATION: none;}
